@using SannaCommerce.WebShop.Presentation.Web.Models
@model ProductsModel
@{
    ViewBag.Title = "Edit Product";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit", "Products", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdProduct)
    <div class="form-item">
        <label>Name:</label>
        @Html.TextBoxFor(m => m.Name, new { @required = "required" })
    </div>
    <div class="form-item">
        <label>Unit Price:</label>
        @Html.TextBoxFor(m => m.Cost, new { @required = "required", @type = "number", @Value = String.Empty })
    </div>
    <div class="form-item">
        <label>Code:</label>
        @Html.TextBoxFor(m => m.Code, new { @required = "required" })
    </div>
    <div class="form-item">
        <label>Description:</label>
        @Html.TextAreaFor(m => m.Description, new { @required = "required" })
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
}
<h5><a href="~/Products"><< Products</a></h5>