@using SannaCommerce.WebShop.Presentation.Web.Models
@model ProductsModel
@{
    ViewBag.Title = "Products";
}
@if (Model.ToSave)
{
    using (Html.BeginForm("SaveChanges", "Products", FormMethod.Post, new { @class = "pull-right" }))
    {
        @Html.AntiForgeryToken()
        <button class="save-changes btn btn-success" type="submit" data-name="products">Save Changes</button>
    }
}
<h2>@ViewBag.Title</h2>
<h5><a href="~/Products/New">New Product</a></h5>
<table class="table datatable">
    <thead>
        <tr>
            <th>IdProduct</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Code</th>
            <th>Description</th>
            <th class="no-short">options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.IdProduct</td>
                <td>@item.Name</td>
                <td>$ @item.Cost.ToString("N2")</td>
                <td>@item.Code</td>
                <td>@item.Description</td>
                <td class="columm-links">
                    @if (item.IdProduct > 0)
                    {
                        <a href="~/Products/Edit/@item.IdProduct">Edit</a>
                        <a href="~/Products/Delete/@item.IdProduct">Delete</a>
                        <a href="~/Products/Categories/@item.IdProduct">Categories</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.ToSave)
{
    <script>
        UpdateLocalStorageModels(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new Dictionary<string, string>() { { "name", "products" }, { "url", @Url.Content("~/Products/") }, { "urlSync", Url.Content("~/Changes/Products") }, { "model", Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)).ToHtmlString() } })));
    </script>
}
