@using SannaCommerce.WebShop.Presentation.Web.Models
@model CustomersModel
@{
    ViewBag.Title = "Delete Customer";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Delete", "Customers", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdCustomer)
    <div class="form-item">
        <label>Name:</label>
        @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
    </div>
    <div class="form-item">
        <label>Phone:</label>
        @Html.TextBoxFor(m => m.Phone, new { @readonly = "readonly" })
    </div>
    <div class="form-item">
        <label>Address:</label>
        @Html.TextBoxFor(m => m.Address, new { @readonly = "readonly" })
    </div>
    <div class="form-item">
        <label>Email:</label>
        @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly" })
    </div>
    <div class="form-item">
        <label>Birthdate:</label>
        @Html.TextBoxFor(m => m.Birthdate, "{0:dd/MM/yyyy}", new { @readonly = "readonly" })
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
}
<h5><a href="~/Customers"><< Customers</a></h5>